<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="softwareTestingMaterial" verbose="10" parallel="tests">

    <listeners>
    <listener class-name="utils.ListenerDemoExample"/>
    </listeners>

    <test name="Login" group-by-instances="true" verbose="3">
        <parameter name="browser" value="chrome"/>

        <groups>
            <dependencies>
                <group name="regression" depends-on="smoke" />
                <group name="feature" depends-on="smoke" />
            </dependencies>
        </groups>

        <classes>
            <class name="LoginTest" />
        </classes>
    </test>
</suite>